{% extends 'base.html' %}

{% block title %}DOCTOR REGISTER{% endblock title %}

{% block body %}
<div class="container mt-1">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 jumbotron">
        <h4 class="text-center bg-info">Register Doctor Form</h4>
        <br>
        {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/doctor_register" method="POST" autocomplete="off">
            <div class="mb-3">
              <label for="" class="form-label">User Name</label>
              <input type="text" class="form-control" id="" aria-describedby="" name="u_name" required>
            </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="d_email" required>
            <div id="emailHelp" class="form-text">Please remember your email to Login....</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="d_password" required>
            <div id="emailHelp" class="form-text">Please remember your password for the Doctor login....</div>
          </div>
          <button type="submit" class="btn btn-primary">Register Clinic</button>
        </form>
        <br> 
        Already an Doctor <a href="doctor_login" class="loginhere">login here</a>
      </div>
        <div class="col-md-4"></div>
        </div>
       </div>
{% endblock body %}