{% extends 'base.html' %}



{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible .fade .show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="d-flex justify-content-center align-items" style="background-image:url(static/d13.jpg);background-repeat:no-repeat;">
  
    
      <form action="/search" method="POST">
        <input type="text" class="search" name="search" placeholder="       Enter your locality name to view clinics near you      " required>
        <input type="submit" class="searchbutton" value="search" >
      </form>
  </div>
  
  {% endblock body %}



