{% extends 'base.html' %}

{% block title %}REPORT{% endblock title %}






{% block body %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 jumbotron">
        <h4 class="text-center bg-info">REPORT FORM</h4>
        <br>
        <form action="/report/{{data.b_id}}" method="POST" autocomplete="off">
            <div class="mb-3">
                <label for="b_id " class="form-label">Booking ID  </label>
                <input type="text" class="form-control" id="b_id" aria-describedby="booking id" name="b_id" value={{data.b_id}} placeholder="booking id" required>
              </div>
          <div class="mb-3">
            <label for="clinic name " class="form-label">Patient Name </label>
            <input type="text" class="form-control" id="p_name" aria-describedby="patientname" name="p_name" value={{data.p_name}} placeholder="patient name" required>
          </div>
          <div class="mb-3">
            <label for="clinic address " class="form-label">Patient Age </label>
            <input type="text" class="form-control" id="" name="p_age" placeholder="p_age"  required>
          </div>
          <div class="mb-3">
            <label for="clinic address " class="form-label">Doctor </label>
            <input type="text" class="form-control" id="doctor" name="doctor" placeholder="Doctor" value={{data.d_name}} required>
          </div>
          <div class="mb-3">
            <label for="clinic address " class="form-label">Clinic Name </label>
            <input type="text" class="form-control"  name="clinic" value={{data.c_name}} >
          </div>
          <div class="mb-3">
            <label for="clinic address " class="form-label">Patient Email </label>
            <input type="text" class="form-control" id="p_email" name="p_email" placeholder="patient email" value={{data.p_email}} required>
          </div>
          <div class="mb-3">
            <label for="clinic contact " class="form-label">Took Treatment On</label>
            <input type="date" class="form-control" id="date" name="date" value={{data.date}} placeholder="date" value={{data.ddate}} required>
          </div>
          <div class="mb-3">
            <label for="clinic contact " class="form-label">Took Treatment For</label>
            <input type="text" class="form-control" id="disease" name="disease" value={{data.disease}} placeholder="disease"  required>
          </div>
          <div class="form-group">
            <label for="patient contact " class="form-label">Patient Phone</label>
            <input type="text" class="form-control" id="number" name="p_phone" placeholder="Phone Number" value={{data.p_phone}} required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Medicine</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="m_type"></textarea>
          </div>
          <div class="form-group">
            <label for="patient contact " class="form-label">Next appointment on...</label>
            <input type="date" class="form-control" id="number" name="n_app">
          </div>
          <br>
          <button type="submit" class="btn btn-primary" >Enter Report </button>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
    {% endblock body %}